body {
  margin: 0;
  width: 100%;
  background-image: url(images/crystallamp.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* .bodyMargins {
	margin-right: 20px;
	margin-left: 20px;
} */

/* header {
	background-image: url(images/crystallamp.jpg);
	height: 120vh;
	margin-top: 4em;
	margin-bottom: 4em;
	background-size: cover;
	background-position: center;
} */

h1 {
	color: white;
	margin-left: 1em;
	margin-bottom: 5px;
	padding-top: 3em;
	font-family: 'Old Standard TT', serif;
	font-size: 5em;
}

h2 {
	color: silver;
	font-family: 'Old Standard TT', serif;
}

h3 {
	color: white;
	margin-left: 11em;
	margin-top: .5em;
	margin-bottom: 4em;
	font-family: 'Old Standard TT', serif;
}

.mainNav {
  	list-style: none;
  	position: fixed;
  	left: 0;
  	text-align: bottom;

}

.mainNav a {
	text-decoration: none;
	padding-left: 5em;
	/*padding-right: .25em;*/
	color: white;
	}

/* img {
	width: 500px;
} */

/* .portWork {
	width: 500px;
} */

/* .box-1 {
	width: 50%;
	float: left;
}

.box-2 {
	margin-left: 40px;
	width: 50%;
	float: right;
	background-color: grey;
} */

#comments textarea {
	width: 97%;
	border-color: #607D8B;

}
